@font-face {
  font-family: "iconfontfpa"; /* Project id 1899487 */
  src: url('iconfont.woff2?t=1634141866148') format('woff2'),
       url('iconfont.woff?t=1634141866148') format('woff'),
       url('iconfont.ttf?t=1634141866148') format('truetype'),
       url('iconfont.svg?t=1634141866148#iconfontfpa') format('svg');
}

.iconfontfpa {
  font-family: "iconfontfpa" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.fpaiconshu-shujukubiao:before {
  content: "\e72d";
}

.fpaiconzhixingchucuo-copy:before {
  content: "\e756";
}

.fpaiconlishibulu:before {
  content: "\e6ce";
}

.fpaiconxialajiantou1:before {
  content: "\e72c";
}

.fpaicondaoru1:before {
  content: "\e649";
}

.fpaiconxinxi:before {
  content: "\e6de";
}

.fpaiconmima:before {
  content: "\e648";
}

.fpaiconrizhi:before {
  content: "\e66e";
}

.fpaiconrenwuxiangqing:before {
  content: "\e672";
}

.fpaiconshanchu12:before {
  content: "\e673";
}

.fpaiconquxiaoquanxuanxiaji:before {
  content: "\e646";
}

.fpaiconquanxuanxiaji:before {
  content: "\e647";
}

.fpaiconshanchu11:before {
  content: "\e67d";
}

.fpaiconicon-bainji:before {
  content: "\e645";
}

.fpaiconshanchu2:before {
  content: "\e6d7";
}

.fpaiconzengjiatianjiajiajian:before {
  content: "\e644";
}

.fpaiconqingchuliandongxiang_qingchuliandongxiang-:before {
  content: "\e6b5";
}

.fpaiconbaocun:before {
  content: "\edcd";
}

.fpaiconicon_hetongchexiaoshenqing:before {
  content: "\e866";
}

.fpaiconfuwuceshi:before {
  content: "\e63d";
}

.fpaiconfabu:before {
  content: "\e63e";
}

.fpaiconicon_:before {
  content: "\e63b";
}

.fpaiconpie3d:before {
  content: "\e639";
}

.fpaiconbar3d:before {
  content: "\e63a";
}

.fpaicondayin:before {
  content: "\e6e4";
}

.fpaiconshuzhi:before {
  content: "\e6d1";
}

.fpaiconhuakuai:before {
  content: "\e6b4";
}

.fpaiconqujian:before {
  content: "\e710";
}

.fpaicontag:before {
  content: "\e75b";
}

.fpaicontree:before {
  content: "\e638";
}

.fpaicontext:before {
  content: "\ed91";
}

.fpaiconmingxibiao:before {
  content: "\e9d5";
}

.fpaiconjiaochabiao:before {
  content: "\e636";
}

.fpaiconfenzubiao:before {
  content: "\e637";
}

.fpaiconshuangzhoutu:before {
  content: "\e634";
}

.fpaiconmianjitu:before {
  content: "\e635";
}

.fpaicontianjiashuju:before {
  content: "\e643";
}

.fpaiconduoshichuangbidui:before {
  content: "\e6d4";
}

.fpaiconyan:before {
  content: "\e6d6";
}

.fpaiconshujumulu:before {
  content: "\e688";
}

.fpaiconhangzhengmulu1:before {
  content: "\e689";
}

.fpaicontongjifenxi1:before {
  content: "\e68c";
}

.fpaiconshujuchaxun1:before {
  content: "\e68d";
}

.fpaiconjuzhengxinxi:before {
  content: "\e6e1";
}

.fpaiconzhihang:before {
  content: "\e685";
}

.fpaiconduijitiaoxingtu:before {
  content: "\e604";
}

.fpaiconloudoutu:before {
  content: "\e605";
}

.fpaiconleidatu:before {
  content: "\e61b";
}

.fpaiconzhibiaoka:before {
  content: "\e633";
}

.fpaiconsandiantu:before {
  content: "\e7e6";
}

.fpaiconxinjianrenyuan:before {
  content: "\e6c9";
}

.fpaiconxinjiangangwei:before {
  content: "\e6ca";
}

.fpaiconxinjianbumen:before {
  content: "\e6cb";
}

.fpaiconxinjianjiaose:before {
  content: "\e6cc";
}

.fpaiconjinyongxuanzhong:before {
  content: "\e70f";
}

.fpaiconjinyongfuxuankuang:before {
  content: "\e70e";
}

.fpaiconquanbushanchu1:before {
  content: "\e750";
}

.fpaiconduijizhuzhuangtu:before {
  content: "\e627";
}

.fpaiconBI_tubiaoICON_fenquzhuzhuangtu_S:before {
  content: "\e770";
}

.fpaiconduibizhuzhuangtu:before {
  content: "\e958";
}

.fpaiconzhexiantu:before {
  content: "\e6c7";
}

.fpaiconfsux_tubiao_biaoge:before {
  content: "\e600";
}

.fpaiconfsux_tubiao_yibiaopan:before {
  content: "\e601";
}

.fpaiconfsux_tubiao_ciyun:before {
  content: "\e602";
}

.fpaiconfsux_tubiao_nandingmeiguitu:before {
  content: "\e603";
}

.fpaiconbingtu:before {
  content: "\e628";
}

.fpaiconduidiezhexiantu:before {
  content: "\e629";
}

.fpaiconduoxilieezhuzhuangtu:before {
  content: "\e62a";
}

.fpaiconjibenzhuzhuangtu:before {
  content: "\e62b";
}

.fpaiconjibenzhexiantu:before {
  content: "\e62c";
}

.fpaiconshuzi:before {
  content: "\e642";
}

.fpaiconshuzi1:before {
  content: "\e7f8";
}

.fpaiconriqi1:before {
  content: "\ed14";
}

.fpaiconshousuoban:before {
  content: "\e61c";
}

.fpaiconzidingyi:before {
  content: "\e61d";
}

.fpaiconqianmingren:before {
  content: "\e61e";
}

.fpaiconriqi:before {
  content: "\e61f";
}

.fpaiconqianmingyinzhang:before {
  content: "\e620";
}

.fpaiconwenjianshangchuan:before {
  content: "\e621";
}

.fpaiconqianmingyijian:before {
  content: "\e622";
}

.fpaiconxialaxuanzeqi:before {
  content: "\e623";
}

.fpaiconfuxuankuang:before {
  content: "\e624";
}

.fpaicondanxuankuang:before {
  content: "\e625";
}

.fpaiconyincang1:before {
  content: "\e62d";
}

.fpaicontupian1:before {
  content: "\e62f";
}

.fpaiconerweima:before {
  content: "\e630";
}

.fpaiconhuiqian:before {
  content: "\e631";
}

.fpaiconzidongbianhao:before {
  content: "\e632";
}

.fpaiconbanbengengxin:before {
  content: "\e63c";
}

.fpaiconpaixu:before {
  content: "\e6fc";
}

.fpaiconshujuku:before {
  content: "\e626";
}

.fpaicongengxindiedai-:before {
  content: "\e618";
}

.fpaiconfanhui:before {
  content: "\e66d";
}

.fpaicongengxinjindu:before {
  content: "\e687";
}

.fpaicontiquyewubanlijindu:before {
  content: "\e619";
}

.fpaiconyunpanlogo-:before {
  content: "\e61a";
}

.fpaiconsqlserveryunshujukuSQLServerban:before {
  content: "\e62e";
}

.fpaiconsqlserveryunshujukuSQLServerban1:before {
  content: "\e6f7";
}

.fpaiconcddcyunshujukuzhuanshujiqun:before {
  content: "\e73d";
}

.fpaiconcddcyunshujukuzhuanshujiqun1:before {
  content: "\e73e";
}

.fpaiconfangan3:before {
  content: "\e680";
}

.fpaiconfangan4:before {
  content: "\e682";
}

.fpaiconfangan:before {
  content: "\e683";
}

.fpaiconwenjian1:before {
  content: "\e617";
}

.fpaiconcaogao:before {
  content: "\e616";
}

.fpaiconquanpingsuoxiao:before {
  content: "\e700";
}

.fpaiconquanpingzhankai:before {
  content: "\e701";
}

.fpaiconwancheng:before {
  content: "\e744";
}

.fpaiconshangyi:before {
  content: "\e674";
}

.fpaiconxiala:before {
  content: "\e66a";
}

.fpaiconxiayi:before {
  content: "\e681";
}

.fpaiconshenzhen-tucengmian:before {
  content: "\e6be";
}

.fpaiconshenzhen-tucengdian:before {
  content: "\e6bf";
}

.fpaiconshenzhen-fuwu:before {
  content: "\e6c0";
}

.fpaiconshenzhen-tucengxian:before {
  content: "\e6c1";
}

.fpaiconshenzhen-wenjianmulu:before {
  content: "\e6c2";
}

.fpaiconshenzhen-zhen:before {
  content: "\e6c3";
}

.fpaiconshenzhen-shi:before {
  content: "\e6c4";
}

.fpaiconshenzhen-xian:before {
  content: "\e6c5";
}

.fpaiconshenzhen-sheng:before {
  content: "\e6c6";
}

.fpaicontufumulu1:before {
  content: "\e68a";
}

.fpaiconanniu:before {
  content: "\e606";
}

.fpaicontubiao:before {
  content: "\e607";
}

.fpaiconzhage:before {
  content: "\e608";
}

.fpaiconzibiaodan:before {
  content: "\e609";
}

.fpaiconbuju:before {
  content: "\e60a";
}

.fpaiconshujiegou:before {
  content: "\e60b";
}

.fpaiconfengexian:before {
  content: "\e60c";
}

.fpaiconbiaoge:before {
  content: "\e60d";
}

.fpaicondaohanglan:before {
  content: "\e60e";
}

.fpaicontubiao1:before {
  content: "\e610";
}

.fpaiconjingtaiwenben:before {
  content: "\e611";
}

.fpaiconlianjiebiaodan:before {
  content: "\e612";
}

.fpaiconditu:before {
  content: "\e613";
}

.fpaiconlunbotu:before {
  content: "\e614";
}

.fpaiconbiaoti:before {
  content: "\e615";
}

.fpaiconpoint:before {
  content: "\e60f";
}

.fpaiconshanchu1:before {
  content: "\e671";
}

.fpaiconcha:before {
  content: "\e669";
}

.fpaiconwenjian:before {
  content: "\e8cd";
}

.fpaiconsuccess:before {
  content: "\e73c";
}

.fpaiconicon_function_daorudaochu:before {
  content: "\e892";
}

.fpaiconbaocun1:before {
  content: "\e664";
}

.fpaiconxialajiantou:before {
  content: "\e641";
}

.fpaiconquanbushanchu:before {
  content: "\e662";
}

.fpaiconjiegoujiancha:before {
  content: "\e66f";
}

.fpaiconchucunshujuyuan:before {
  content: "\e670";
}

.fpaicontianjia:before {
  content: "\e699";
}

.fpaiconsousuo:before {
  content: "\e677";
}

.fpaiconwenjianjiadakai:before {
  content: "\e63f";
}

.fpaiconwenjianjia:before {
  content: "\e640";
}

.fpaiconxinzeng:before {
  content: "\e684";
}

.fpaiconzhankai:before {
  content: "\e6b9";
}

.fpaiconzhankai1:before {
  content: "\e6ba";
}

.fpaiconshousuo:before {
  content: "\e6bb";
}

.fpaiconshousuo1:before {
  content: "\e6bc";
}

.fpaiconbujuzujian:before {
  content: "\e6bd";
}

.fpaiconxuanze1:before {
  content: "\e69b";
}

.fpaicontianjiashuju1:before {
  content: "\e69c";
}

.fpaicondaochujiexian1:before {
  content: "\e69d";
}

.fpaiconhuizhi1:before {
  content: "\e6a0";
}

.fpaiconbiaozhu1:before {
  content: "\e6a1";
}

.fpaiconceliang1:before {
  content: "\e6a2";
}

.fpaiconhouyishijiao:before {
  content: "\e6a3";
}

.fpaicongongjuxiang1:before {
  content: "\e6a5";
}

.fpaiconqingchuxuanze1:before {
  content: "\e6a6";
}

.fpaiconqianyishijiao:before {
  content: "\e6a7";
}

.fpaicondituquanping:before {
  content: "\e6ac";
}

.fpaiconditujia:before {
  content: "\e6b0";
}

.fpaicondituquantu:before {
  content: "\e6b1";
}

.fpaiconditujian:before {
  content: "\e6b2";
}

.fpaicondituIchaxun:before {
  content: "\e6b3";
}

.fpaiconshujuyuanshezhi:before {
  content: "\e661";
}

.fpaicondiandiandian:before {
  content: "\e663";
}

.fpaiconyidongduan:before {
  content: "\e66b";
}

.fpaiconWEBduan1:before {
  content: "\e66c";
}

.fpaiconcuzhakuangxian:before {
  content: "\e6a4";
}

.fpaiconsuoyoukuangxian:before {
  content: "\e6a8";
}

.fpaiconwaicekuangxian:before {
  content: "\e6a9";
}

.fpaiconshanghuaxian:before {
  content: "\e6aa";
}

.fpaiconxiahuaxian1:before {
  content: "\e6ab";
}

.fpaiconyouhuaxian:before {
  content: "\e6ad";
}

.fpaiconzuohuaxian:before {
  content: "\e6ae";
}

.fpaiconwuhuaxian:before {
  content: "\e6af";
}

.fpaicondaochu:before {
  content: "\e65c";
}

.fpaicondaoru:before {
  content: "\e65e";
}

.fpaiconzhongzuo:before {
  content: "\e64a";
}

.fpaiconchexiao:before {
  content: "\e64b";
}

.fpaiconjiacu1:before {
  content: "\e64f";
}

.fpaiconqingxie:before {
  content: "\e650";
}

.fpaiconxiahuaxian:before {
  content: "\e651";
}

.fpaiconzuoduiqi:before {
  content: "\e653";
}

.fpaiconyouduiqi:before {
  content: "\e654";
}

.fpaiconjuzhongduiqi:before {
  content: "\e655";
}

.fpaiconqiehuanfengge:before {
  content: "\e656";
}

.fpaiconpeisefangan1:before {
  content: "\e658";
}

.fpaiconbiaodanshuxing:before {
  content: "\e659";
}

.fpaiconpiliangcaozuo:before {
  content: "\e65a";
}

.fpaiconbiaodanguize:before {
  content: "\e65b";
}

.fpaiconJava:before {
  content: "\e65d";
}

.fpaiconxiazaibiaodanmoban:before {
  content: "\e65f";
}

.fpaiconyulan:before {
  content: "\e660";
}

.fpaiconshuaxin:before {
  content: "\e665";
}

.fpaiconxinjian:before {
  content: "\e666";
}

.fpaiconshanchu:before {
  content: "\e667";
}

.fpaiconlingcunwei:before {
  content: "\e668";
}

.fpaiconbianji:before {
  content: "\e69e";
}

.fpaiconyulan1:before {
  content: "\e69f";
}

